@import "@/styles/mixins.css";

.wrapper {
  &:not(:last-child) {
    margin-bottom: 40px;
    @mixin laptop {
      margin-bottom: 68px;
    }
    @mixin desktop {
      margin-bottom: 110px;
    }
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

.listItem {
  display: flex;
  gap: 8px;
  font-weight: 500;
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.icon {
  flex-shrink: 0;
  margin-top: 2px;
}
