@import "@/styles/mixins.css";

.waiter {
  justify-content: center;
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
}

.carWrapper {
  padding-block: 20px;
  display: flex;
  gap: 36px;
  flex-direction: column;
  @mixin tablet {
    flex-direction: row;
    padding-block: 40px;
  }
  @mixin laptop {
    padding-block: 84px;
  }
  @mixin desktop {
    gap: 72px;
  }
}

.carLeftSide {
  order: -1;
  @mixin laptop {
    min-width: 640px;
  }
}

.carRightSide {
  width: 100%;
  @mixin tablet {
    margin-top: 20px;
  }
}

.carImage {
  aspect-ratio: 640 / 512;
  border-radius: 16px;
  @mixin tablet {
    margin-bottom: 40px;
  }
}
