@import "@/styles/mixins.css";

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

.titleSecondary {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-secondary-text);
  display: inline-block;
}

.titlePrimary {
  margin-right: 16px;
}

.info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
}

.infoItem {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 2px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--car-page-price-color);
  margin-bottom: 32px;
}

.wrapper {
  margin-bottom: 20px;
  @mixin tablet {
    margin-bottom: 40px;
  }
  @mixin laptop {
    margin-bottom: 68px;
  }
  font-weight: 500;
}
