:root {
  font-family: "Manrope", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-main: #101828;
  --color-brand: #3470ff;
  --color-secondary-text: #8d929a;
  --color-error: #e74c3c;
  --hover-color: #0b44cd;

  --primary-button-color: #fff;
  --primary-button-background: var(--color-brand);
  --primary-button-hover-background: var(--hover-color);

  --secontary-button-color: var(--color-main);
  --secondary-border-color: var(--color-brand);
  --secondary-hover-border-color: var(--hover-color);

  --header-background-color: #f2f4f7;

  --link-color: var(--color-main);
  --link-hover-color: var(--hover-color);

  --form-element-background: #f7f7f7;
  --form-text-color: var(--color-secondary-text);
  --form-option-hover-color: var(--color-main);
  --form-dark-border-color: #dadde1;

  --card-text-color: var(--color-secondary-text);
  --card-model-secondary-color: var(--color-brand);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  transition: color 250ms ease;
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--color-main);
  font-size: 16px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: 0;
  outline-offset: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input {
  font-size: 16px;
}
